<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132591369403-vho39db6s5k5aptds5p282h4o24krr9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132591369403-vho39db6s5k5aptds5p282h4o24krr9c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132591369403-3b2n72hbhefg98pjvvkcfugjaav46l38.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBotxBaZHYrubfbRaQm1i1YYFejAxpuZCg</string>
	<key>GCM_SENDER_ID</key>
	<string>132591369403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warton.gogyde</string>
	<key>PROJECT_ID</key>
	<string>gogyde-550ca</string>
	<key>STORAGE_BUCKET</key>
	<string>gogyde-550ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132591369403:ios:2c2ef1032e2791379e3d9e</string>
	<key>DATABASE_URL</key>
	<string>https://gogyde-550ca-default-rtdb.firebaseio.com</string>
</dict>
</plist>